/*///////////// App Component //////////// */

.cities-list-with-posts {
  display: flex;
  flex-direction: row; 
}


/*/////////// Header Component /////////// */

header {
  background-color: darkseagreen;
}

.wayfarer-heading {
  margin: 20px;
}

.navbar-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

.sign {
  margin: 20px;
}

/* /////////// Cities List Component  ////////////*/

.cities-list {
  background-color: darkseagreen;
  width: 600px;
  border: 1px black solid;
  margin: 20px;
}

.city-header {
  margin-left: 50px;
}

/* ////////////// Cities Component ////////////// */

.london-img {
  height: 100px;
  margin: 10px 10px 10px 20px;
}

.city-div {
  display: flex;
  flex-direction: row;
  border: 1px black solid;
  border-radius: 20px;
  width: 500px;
  margin-left: 50px;
  background-color: white;
}

/* ///////// Cities With Posts Component ///////// */

.london-large-img {
  height: 250px;
  margin: 10px;
}

.city-country-img {
  display: flex;
}

.city-with-posts-div {
  margin: 20px;
  border: 1px solid black;
}

/* ////////////// Post Component //////////// */

