/*///////////// App Component //////////// */

.cities-list-with-posts {
  display: flex;
  flex-direction: row; 
}

.landing-page {
  display: flex;
  flex-direction: row;
}

/*/////////// Header Component /////////// */

.navbar, .modal-header {
  background-color: darkseagreen !important;
}

.navbar {
  margin: 0;
}

.navbar > .container {
  width: 100%;
}

.wayfarer-heading {
  margin: 20px 0 !important;
  font-size: 48px;
  color: #f0f0f0 !important;
}
.wayfarer-heading:hover{
  color: darkseagreen !important;
  background-color: #ffffff !important;
}

.navbar-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

.LogIn {
  margin: 20px;
}

.incorrect-login {
  background-color: #FAACB0;
  width: 250px;
  border-radius: 4px;
  margin: 0 0 0 250px;
  border: 1px solid red;
  height: 34px;
  position: absolute;
}

.different-passwords {
  background-color: #FAACB0;
  width: 250px;
  border-radius: 4px;
  margin: 0 0 0px 110px;
  bottom: 0px;
  border: 1px solid red;
  height: 34px;
  position: absolute;
}

.different {
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
}

.incorrect {
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
}

/* /////////// Carousel Component  ////////////*/
img {
  margin: auto
}

.carousel-img {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.nav-item {
  font-size: 24px;
  margin: 20px auto;
}
.nav-item > a:hover {
  color: darkseagreen !important;
  background-color: #ffffff !important;
}

.nav-item > a:focus {
  color: #777 !important;
}

.nav-item > span > a {
  /* margin: 20px auto; */
  padding: 15px;
}
.nav-item > span > a:hover {
  padding: 15px;
  color: darkseagreen !important;
  background-color: #ffffff !important;
}


/* /////////// Cities List Component  ////////////*/

.cities-list {
  background-color: darkseagreen;
  /* width: 600px; */
  border: 1px black solid;
  margin: 20px;
}

.city-header {
  margin-left: 50px;
}

/* ////////////// Cities Component ////////////// */

.london-img {
  height: 100px;
  margin: 10px 10px 10px 20px;
}

.city-div {
  display: flex;
  flex-direction: row;
  /* border: 1px black solid; */
  border-radius: 20px;
  /* width: 500px; */
  margin: 10px 10px 10px 10px;
  background-color: white;
  
}

/* ///////// City With Posts Component ///////// */

.london-large-img {
  height: 250px;
  margin: 10px;
}

.london-uk {
  margin: 20px;
}

.city {
  font-size: 50px;
}

.country {
  font-size: 35px;
}

.city-country-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.city-with-posts-div {
  margin: 20px;
  border: 1px solid black;
}

.posts-and-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.posts {
  margin: 20px 0 0 20px;
  font-size: 50px;
}

.plus-button {
  margin: 0px 15px 0px 0px;
  width: 75px;
  padding-bottom: 10px;
  border-radius: 100px;
  font-size: 40px;
  border: 1px solid black;
}

.plus-button:hover {
  background-color: darkseagreen;
  color: white;
}

.create-new-post {
  background-color: darkseagreen;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  box-sizing: border-box;
}

.green-btn {
  background-color: rgb(143, 188, 143);
  color: #ffffff;
}

.green-btn:hover {
  color: rgb(143, 188, 143);
  background-color: #ffffff;
  
}

.new-post-dropdown {
  width: 300px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.new-post-title {
  margin: 0px 0px 5px 0px;
  font-size: 20px;
}

.new-post-input {
  width: 300px;
  border: 2px solid black;
  height: 20px;
}

.new-post-text-area {
  margin: 10px 10px 10px 0;
  border: 2px solid black;
  height: 100px;
}

.submit-button {
  border: 2px solid black;
  width: 100px;
  height: 30px;
  margin-bottom: 5px;
}

.create-new-post2 {
  display: none;
}

.static-model {
  position: absolute;
  top: 0;
}

/* ////////////// Posts Component //////////// */

.post-img {
  height: 150px;
  margin: 10px;
}

.title {
  margin: 10px 0 0 10px;
  width: 300px;
}

.post-and-img {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  margin: 5px;
}

.post-body {
  margin-left: 10px;
}

.topic-container {
  padding: 10px;
}

.topics {
  display: flex;
  justify-content: space-around;
}

.topic-col {
  margin: 10px;
  padding: 10px;
  background-color: rgba(143, 188, 143, 0.5);
}

.carousel-control {
  opacity: 0.71;
  color: darkseagreen !important;
}

.item {
  background-color: rgba(143,188,143,0.1) !important;
}


.header, .topic {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

/* ////////////// Profile Component //////////// */


.profile {
  background-color: white;
  margin: 20px 10px 20px 20px;
  width: 35%;
  border: 10px solid darkseagreen;
}

.profile-div {
  display: flex;
  flex-direction: row;
}

.profile-pic {
  height: 200px;
  margin: 20px;
}

.profile-name {
  margin: 0px 0px 20px 20px;
  border-bottom: 1px solid #777;
  font-size: 50px;
  width: 90%;
  text-align: center;
}

.edit-profile-name{
  width: 90%;
}

.bio {
  margin-left: 20px;
  font-size: 30px;
}

.chem {
  border-bottom: 1px solid #777;
  width: 80%;
}

.profile-div-2 {
  display: flex;
  flex-direction: row;
}

.posts-list {
  width: 65%;
  margin: 20px 20px 20px 10px;
  background-color: darkseagreen;
}

.profile-div-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-username-button {
  height: 35px;
}

.edit-username-button:hover {
  background-color: white;
  color: darkseagreen;
}

.username {
  width: 80%;
}

.edit-username-div {
  display: flex;

}

.edit-button {
  color: transparent;
  background-color: transparent;
  border: none;
}

.save-button {
  height: 61px;
  background-color: darkseagreen;
}

/* ////////////// Show Post Component //////////// */



.post-modal-img {
  width: 720px;
  height: 480px;
  margin: 5px auto;
}



/* ////////////// Media Query //////////// */

@media only screen and (max-width: 750px) {

  .wayfarer-heading {
    margin: 10px !important;
    font-size: 24px;
    color: #f0f0f0 !important;
  }


  .nav-item {
    font-size: 16px;
    margin: 0;
  }

  .topics {
    flex-direction: column;
  }


  .topic-col {
    font-size: 14px;
  }

}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }
}

